//
// THEME COLORS
// basic colors from mockups
//

$clr-color: #424242;
$clr-color2: #000;
$clr-color3: #505050;

//
// NEUTRAL COLORS
// basic black and white colors and shades
//

$clr-grey: #707070;
$clr-white: #fff;
$clr-black: #000;
$clr-placeholder: $clr-grey;
$clr-yellow: #ffdd00;
$clr-light-grey: #ebebeb;

//
// Additional abstractions
//
$clr-text: $clr-color;
$clr-heading: $clr-black;
$clr-text3: #505050;
$clr-body: $clr-white;
$clr-link: rgba(0, 131, 195, 1);
$clr-input-border: #ccc;


$yellow: #f8e71c;


$c1:	$yellow;
$c2:	#D53D3A;
$c3:	#2890CC;
$c4:	#268A4F;
$c5:	#9E84BC;
$c6:	#1FBFD1;
$c7:	#999999;