@import 'header';
@import 'footer';
@import 'layout';
@import 'sidebar';

html, body {
	height: auto !important;
	-webkit-overflow-scrolling: touch;
}

body {
	margin: 0;
	color: $clr-text;
	font: #{$fz}/#{$lh} $family;
	background: $clr-body;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
	min-width: $minWidth;
	// font-family: 'Montserrat', sans-serif;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
	color: $clr-link;
	@include anim;
	@include anim-param(color, background, border-color);
}

input, textarea, select, button {
	font: #{$fz}/#{$lh} $family;
	vertical-align: middle;
}


%button{
	background-color: $yellow;
	border: 2px solid $yellow;
	border-radius: 25px;
	height: 45px;
	display: inline-flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding:0 24px;
	font-family: $family2;
	font-size: 14px;
	line-height: 45px;
	// padding-top: 3px;
	color: #000;
	text-transform: none;

	
	&:hover{
		background-color: #fff !important;
	}

	&:active{
		background-color: #F4E17E;
	}
}

%button60 {
	@extend %button;
	font-size: 18px;
	height: 60px;
	line-height: 60px;
	// padding-top: 4px;
	border-radius: 30px;
	transition: border-color 0.3s, background-color 0.3s;

	@include bp-max($mq-mobile-small){
		font-size: 16px;
	}
}

.button{
	@extend %button;
}

.banner-button {
	@extend %button;
}

input.button {
	// border: none;
}

button.button {

}

a.button.spec {
	background-color: #fff;
	font-size: 16px !important;
	font-family: $family !important;
	color: $yellow !important;

	&:hover {
		color: #000 !important;

	}
}


.button45{
	@extend %button;
}

button.button45 {

}

a.button45 {
	
}

.button60{
	@extend %button60;
}

input.button60 {
	// border: none;
	// box-shadow: none;
}

button.button60 {
	// border: none;
}


a.button60 {
	
}

%button60-border{
	@extend %button60;
	border: 2px solid $yellow;
	background-color: #fff;

	&:hover{
		background-color: $yellow;
	}

	&:active{
		background-color: #FBF38B;
		border-color: #FBF38B;
	}
}

.button60-border {
	// @extend %button60-border;
}

button.button60-border:not([disabled]) {
	// padding-top: 3px;
}

.button60-green{
	@extend %button60;
	background-color: #d4f136;

	&:hover{
		background-color: #b5d500;
	}

	&:active{
		background-color: #D8E97E;
	}
}

%button-allResults{
	@extend %button60-border;
	font-size: 13px;
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
}

.ttu{
	text-transform: uppercase;
}

.df{
	display: flex;
}
.w100{
	width: 100%;
}

textarea {
	resize: none;
	overflow: auto;
	vertical-align: top;
}

::-webkit-input-placeholder {
	color: $clr-placeholder;
}

::-moz-placeholder {
	color: $clr-placeholder;
	opacity: 1;
}

:-ms-input-placeholder {
	color: $clr-placeholder;
}

h1,
h2,
h3,
[data-title~=h1],
[data-title~=h2],
[data-title~=h3] {
	font-family: $family2;
	color: #000;
}

h1,
[data-title~=h1] {
	font-size: 48px;
	line-height: 48px;
	color: #000;
	@include breakpoint($mq-mobile) {
		font-size: 30px;
	}
}
h2,
[data-title~=h2] {
	font-size: 36px;
	line-height: 36px;
	color: #000;
	
	@include breakpoint($mq-mobile) {
		font-size: 28px;
	}
}

h3, [data-title~=h3] {
	font-size: 18px;
	line-height: 1.2;

	@include breakpoint($mq-mobile) {
		font-size: 16px;
	}
}

.icon {
	@include anim;
}

.popup-holder {
	display: none;
}

.seo-section {
	&__holder {
		padding-top: 35px;
		padding-bottom: 35px;

		&.opened{
			
			.seo-section__descr{
				max-height: none;
			}

			.ic-arrow-down{
				transform: rotate(180deg);
			}
		}

	}
	&__descr {
		// width: 75%;
		max-height: 100px;
		margin-bottom: 24px;
		overflow: hidden;

		&:hover{
			overflow: auto;
			@include scrollbar;
		}

		.inner-text {
			display: inline;
			font-size: 14px;
			line-height: 24px;
			font-weight: 300;
			color: #8392af;
			> * {
				display: inline;
				font-size: 14px;
				line-height: 24px;
				font-weight: 300;
			}
		}
		a {
			font-size: 14px;
			line-height: 24px;
			font-weight: 300;
			&:hover { text-decoration: underline; }
		}
	}

	.ic-arrow-down{
		display: inline-block;
		vertical-align: middle;
		background-image: url(../images/svg/arrow_down.svg);
		background-repeat: no-repeat;
		background-position: center;
		width: 24px;
		height: 24px;
	}

	@include breakpoint($mq-mobile) {
		&__descr {
			// width: 87.5%;
		}
	}
}

.calculate-credit-section {
	background: linear-gradient(45deg, #e6e2d4 0%, #fff3e1 100%);;
}

// lang switcher
.language-chooser.language-chooser-dropdown {
	display: none;
}
// .lang-switcher a {
// 	display: inline-block;
// 	color: inherit;
// 	font-weight: 500;
// 	padding: 11px 0 0;
// 	background: transparent;
// 	border: 0;
// 	// font: inherit;
// 	// border-bottom: 2px solid rgba(78, 84, 89, 1);
// 	// font-size: 14px;
// 	-webkit-appearance: none;
// 	appearance: none;
// 	@include breakpoint($mq-tablet-small) {
// 		padding: 0 0 11px;
// 		font-size: 20px;
// 		line-height: 1.5;
// 		margin-bottom: 30px;
// 	}

// 	@include bp-max($mq-tablet) {
// 		padding: 0;
// 		margin: 0;
// 		color: #000;
// 		line-height: 62px;
// 	}

// }

.lang-switcher {
	ul {
		list-style: none;
		margin: 0;
		display: flex;

		li {
			padding: 0 10px;
			position: relative;

			@include bp-max($mq-tablet) {
				color: #000;
				line-height: 62px;
				font-size: 20px;
			}

			&:first-child {
				padding-left: 0;

				&:after {
					position: absolute;
					right: -1px;
					top: 15%;
					height: 70%;
					content: '';
					width: 2px;
					background-color: currentColor;
					border-radius: 1px;

					@include bp-max($mq-tablet) {
						top: 36%;
						height: 30%;
					}
				}
			}

			&:last-child {
				padding-right: 0;
			}
		}

	}

	.lang-switcher-link {
		color: #000;

		&.active {
			color: #0083c3;
		}
	}
}

.lang-switcher select::-ms-expand {
	display: none;
}

.only-mob {
	display: none;
	@include breakpoint($mq-mobile) {
		display: block;
	}
}
@include breakpoint($mq-mobile) {
	.only-desk {
		display: none !important;
	}
}
.swiper-container-mob {
	position: relative;
}
.swiper-container-mob .swiper-wrapper, .swiper-container-mob .swiper-slide {
	height: auto;
}

.swiper-container-mob .swiper-pagination-bullet {
	opacity: 1;
	background: #9b9b9b;
	width: 6px;
	height: 6px;
}
.swiper-container-mob .swiper-pagination-bullet-active {
	opacity: 1;
	background: #000;
}
.swiper-container-mob .swiper-pagination {
	@media screen and (min-width: 641px){
		display: none;
	}
}

.soc-fb {
	background:url(../images/facebook.png) no-repeat center;
	background-size: 130%;
}

.soc-twitter {
	background:url(../images/svg/soc/facebook.svg) no-repeat center;
}

.soc-insta {
	background:url(../images/instagram.png) no-repeat center;
    // background:url(../images/instagram.webp) no-repeat center;
	background-size: 100%;
}

.first_vacancy_text{
	font-size: 24px;
	line-height: 42px;

	@include bp-max($mq-mobile) {
		font-size: 18px;
		line-height: 24px;
	}

	img{
		float: right;

		@include bp-max($mq-tablet) {
			float: none;
		}
	}

	h1{
		margin-bottom: 24px;
	}

	.vacancy-page__content{
		margin-bottom: 46px;
	}
}

.second_vacancy_text{
	margin-top: 100px;
}

.resume_form {
	padding: 40px;
	border: 2px solid $yellow;
	margin-top: 40px;
	margin-bottom: 90px;

	@include bp-max($mq-mobile) {
		padding: 30px;
	}

	.resume_form_wrap {
		height: 100%;
		overflow-y: auto;
		padding: 0 !important;
	}

	.fancybox-container .fancybox-slide > & {
		padding: 40px;
		// overflow-y: scroll;
	}

	.vacancy_block-title {
		.fancybox-container .fancybox-slide > & {
			padding: 0;
		}
	}


	form{
		@include bp-max($mq-mobile) {
			.form-right{
				margin-top: 40px;
			}
		}
	}

	.form_field{
		display: flex;
		margin-top: 30px;
		color: #000;

		@include bp-max($mq-mobile) {
			flex-direction: column;
		}

		&:first-child{
			margin-top: 0;
		}
		
		> * {
			flex-grow: 1;
			max-width: calc(100% - 130px);

			@include bp-max($mq-mobile) {
				max-width: none;
			}
		}

		>span:first-child{

			width: 130px;
			min-width: 130px;
			flex-grow: 0;
		}

		input:not(.button60){
			width: 100%;
			border: none;
			border-bottom: 1px solid #ccc;
			font-family: $family2;
		}

		.uploadFile{
			background-color: #e3e3e3;
			width: 100%;
			display: flex;
			color: #000;
			height: 50px;
			align-items: center;
			justify-content: center;
			margin-bottom: 20px;
			transition:background-color 0.3s;

			&:hover{
				cursor: pointer;
				background-color: darken(#e3e3e3,25%);
			}


			[type="file"]{
				display: none;
			}

			&>span{
				white-space: nowrap;
				width: 100%;
				
				span{
					display: inline-block;
					vertical-align: middle;
					width: calc(100% - 35px - 5px);
					overflow: hidden;
					text-overflow: ellipsis;

					// @include bp-max($mq-mobile) {
					// 	width: auto;
					// }
				}
			}

			.icon{
				background:url(../images/svg/uploadFile.svg) no-repeat center;
				width: 32px;
				height: 32px;
				margin-right: 5px;
			}
		}

		.descr{
			font-size: 16px;
			line-height: 24px;
		}
		
		textarea{
			width: 100%;
			border-color:#ccc;
			height: 160px;
		}

		
		
	}

	.form-bottom .form_field{
		margin-top: 20px;
	}
}

.vacancy_block-title{
	margin-bottom: 15px;
}

.seo-block{

	.seo-text{
		max-height: 100px;
		overflow: hidden;
		color: #000;

		&:hover{
			overflow: auto;
			@include scrollbar;
		}
	}

	&.opened{
		.seo-text{
			max-height: none;
		}

		.ic-arrow-down{
			transform: rotate(180deg);
		}
	}

	.read-more{
		color: #000;
	}

	.ic-arrow-down{
		display: inline-block;
		vertical-align: middle;
		background-image: url(../images/svg/arrow_down.svg);
		background-repeat: no-repeat;
		background-position: center;
		width: 24px;
		height: 24px;
	}
}

#icon-fb{
	background-color: #000;
}

.actions__content{

	.smarty-controller{
		text-align: right;
		font-family: $family2;
		font-size: 16px;
		margin-bottom: 50px;

		.smarty-controller__list{
			.smarty-controller__item--active{
				border-bottom-width: 5px;
				padding-bottom: 8px;
			}
		}
	}
	

	.smarty-content__item {
		>div{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			>div{
				width: calc(50% - 25px);
				margin-bottom: 50px;
				display: flex;

				@include bp-max($mq-tablet) {
					width: 100%;
				}

				img{
					display: block;
					flex-grow: 1;
				}

				a{
					color: #000;
					display: flex;
					flex-direction: column;

					&:hover{

						.action-wrap{
							background-color: #F8E61E;

							div{
								background-color: #F3DB1C;
							}
						}
					}
				}

			}
		}

		.action-wrap{
			display: flex;
			background-color: #f4f4f4;

			>span{
				flex-grow: 1;
				padding: 36px;
			}

			>div{
				width: 150px;
				height: 156px;
				padding: 10px;
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				background-color: #E6E6E6;

				div{
					span{
						display: block;
					}

					span:nth-child(2){
						font-size: 36px;
						line-height: 36px;
						font-family: $family2;
					}

					span:nth-child(3){
						font-size: 18px;
						line-height: 20px;
						font-family: $family2;
					}
				}
			}
		}
	}
}

.single-action{
	.single-action-content-wrap{
		display: flex;
		justify-content: space-between;
		margin-bottom: 100px;

		@include bp-max($mq-tablet) {
			flex-direction: column;
		}

		>*{
			width: calc(50% - 25px);

			@include bp-max($mq-tablet) {
				width: 100%;
				margin-bottom: 20px;
			}
		}
	}

	.single-action-to,
	.action-is-ended {
		font-family: $family2;
		color: #000;
		margin-bottom: 36px;
	}

	.action-is-ended {
		background-color: #f8e71c;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.action-to{
		background-color: #f8e71c;
		font-family: $family2;
		color: #000;
		line-height: 24px;
		display: flex;

		>div{
			width: calc(100%/3);
			height: 100px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			&:nth-child(2){
				border-left: 2px solid #fff;
				border-right: 2px solid #fff;
			}

			span{
				display: block;

				&:first-child{
					font-size: 36px;
					line-height: 36px;
				}

				
			}
		}
	}
}

.w1{
	min-height: 100%;
}

.vacancy-benefits {
	padding-top: 100px;

	[data-title~=h2] {
		font-size: 48px;
		line-height: normal;
		margin-bottom: 45px;

		@include bp-max(640px){
			font-size: 35px;
			margin-bottom: 1em;
		}
	}

	.vacancy-benefits-list {
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-top: -10px;

	}

	.vacancy-benefit-item {
		display: block;
		width: calc(100%/3 - 10px);
		margin-left: 10px;
		margin-top: 10px;
		display: flex;
		position: relative;

		@include bp-max(980px){
			width: calc(100%/2 - 10px);
		}

		@include bp-max(768px){
			&.opened {
				.show-on-hover {
					display: block;
				}

				&:hover {
					.show-on-hover {
						display: block;
					}
				}
			}
		}

		@include bp-max(640px){
			width: calc(100% - 10px);
		}

		.show-on-hover {
			display: none;
			width: 100%;
			top: 100%;
			background-color: #f8e71c;
			z-index: 1;
			padding: 35px;
			font-size: 18px;
			line-height: 27px;

			
		}

		&:hover {
			.show-on-hover {
				display: block;

				@include bp-max(768px){
					display: none;
				}
			}
		}

		.item-title {
			width: 100%;
			background-color: #9E84BC;
			color: #fff;
			padding: 20px 36px;
			min-height: 90px;
			font-family: $family2;
			font-size: 24px;
			line-height: 24px;
		}

		.show-on-hover {
			position: absolute;
			display: none;
			// display: block;
			// visibility: hidden;
			// transition:visibility 0.3s;
		}
	}
}

.text-before-vacancy {
	font-size: 48px;
	line-height: 48px;
	font-family: $family2;
	margin-top: 100px;
	margin-bottom: 100px;
	color: #000;

	@include bp-max(640px){
		font-size: 36px;
	}
}

.vacancy-select-block {
	display: flex;
	align-items:flex-start;
	justify-content: space-between;
	
	@include bp-max($ipad_p){
		flex-direction: column;
	}

	.vacancy-select {
		// max-width: 520px;
		flex-grow: 1;
		max-width: 60%;
		
		@include bp-max($ipad_p){
			max-width: none;
			width: 100%;
		}

		h2 {
			font-size: 48px;
			line-height: 48px;
			text-transform: uppercase;
			margin-bottom: 45px;
		}

		.inputs-wrap {
			display: flex;
			justify-content: space-between;

			@include bp-max(980px){
				flex-direction: column;
			}

			> div {
				width: calc(50% - 15px);

				@include bp-max(980px){
					width: 100%;
				}

				// @include bp-max(640px){
				// 	width: calc(100% - 10px);
				// }
			}
		}

		.v-select {
			.dropdown-toggle {
				border-radius: 0;
				border: none;
				border-bottom: 1px solid #CBCBCB;
				padding-bottom: 15px;

				@include bp-max(980px){
					padding-top: 15px;
				}
			}

			input {
				padding: 0;
				font-size: 18px;
				line-height: 23px;

				@include placeholder{
					color: #000;
				};
			}


			.selected-tag {
				white-space: nowrap;
				overflow: hidden;
				width: 100%;
				height: 34px;
				line-height: 34px;
				padding-right: 30px;
				text-overflow: ellipsis;

				& + input {
					// display: none;
					position: absolute;
					left: 0;
				}
			}

			.open-indicator {
				bottom: 20px;

				&:before {
					border-color: #000;
					// border-style: solid;
					border-width: 1px 1px 0 0;
					// content: "";
					// display: inline-block;
					height: 9px;
					width: 9px;
					// vertical-align: top;
					// transform: rotate(133deg);
					// transition: all .15s cubic-bezier(1,-.115,.975,.855);
					// transition-timing-function: cubic-bezier(1,-.115,.975,.855);
					// box-sizing: inherit;
				}
			}

		}
	}

	.vacancy-info-wrap {
		max-width: 40%;
		margin-top: 15px;
		margin-left: 30px;
		
		@include bp-max($ipad_p){
			margin-left: 0;
			max-width: none;
			width: 100%;
			
		}

		.button-wrap {
			margin:30px 0;
			display: flex;
			justify-content: center;

			.button {
				height: 60px;
				border-radius: 30px;
				font-size: 18px;
			}
		}
	}

	.vacancy-info {
		border: 5px solid $yellow;
		padding: 60px;
		flex-shrink: 1;

		@include bp-max(980px){
			padding: 30px;
		}

		@include bp-max($ipad_p){
		}

		h3 {
			font-size: 24px;
			line-height: 24px;
			margin-bottom: 15px;
		}
	}
}

.final-text {
	font-size: 30px;
	text-align: center;
}

[name=about-work] {
	position: relative;
	top: -150px;
}

#wrapper {
	.swiper-button-next,
	.swiper-container-rtl .swiper-button-prev {
	  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z' fill='#f8e71c'%2F%3E%3C%2Fsvg%3E");
	  right: 10px;
	  left: auto;
	}

	.swiper-button-prev,
	.swiper-container-rtl .swiper-button-next {
	  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z' fill='#f8e71c'%2F%3E%3C%2Fsvg%3E");
	  left: 10px;
	  right: auto;
	}
	
}

.ml15 {
	margin-left: 15px;
}

.mlr15 {
	margin-left: 15px;
	margin-right: 15px;
}



// .work-time__when {
// 	flex-wrap: wrap;
// }