//
// THEME COLORS
// basic colors from mockups
//

.c-color {color: $clr-color;}
.bg-color {background-color: $clr-color;}
.fill-color {fill: $clr-color;}

//
// NEUTRAL COLORS
// basic black and white colors and shades
//

.c-grey {color: $clr-grey;}
.bg-grey {background-color: $clr-grey;}
.fill-grey {fill: $clr-grey;}

.c-white {color: $clr-white;}
.bg-white {background-color: $clr-white;}
.fill-white {fill: $clr-white;}

.c-black {color: $clr-black;}
.bg-black {background-color: $clr-black;}
.fill-black {fill: $clr-black;}