.svg-icon-arrow-dims {
	width: 17.11px;
	height: 13.41px;
}

.svg-icon-check-dims {
	width: 41.33px;
	height: 41.42px;
}

.svg-icon-collection-dims {
	width: 24.67px;
	height: 22.13px;
}

.svg-icon-fb-dims {
	width: 512px;
	height: 512px;
}

.svg-icon-google-plus-dims {
	width: 512px;
	height: 512px;
}

.svg-icon-insta-dims {
	width: 512px;
	height: 512px;
}

.svg-icon-loader-dims {
	width: 47.67px;
	height: 50px;
}

.svg-icon-location-dims {
	width: 47.67px;
	height: 50px;
}

.svg-icon-loupe-dims {
	width: 40px;
	height: 40px;
}

.svg-icon-man-dims {
	width: 43.75px;
	height: 54.38px;
}

.svg-icon-more-dims {
	width: 41.33px;
	height: 41.42px;
}

.svg-icon-pin-dims {
	width: 40px;
	height: 52px;
}

.svg-icon-pin-blue-dims {
	width: 43.75px;
	height: 54.38px;
}

.svg-icon-rating-dims {
	width: 21.75px;
	height: 20.33px;
}

.svg-icon-rating-filled-dims {
	width: 21.75px;
	height: 20.33px;
}

.svg-icon-twitter-dims {
	width: 512px;
	height: 512px;
}

.svg-icon-vk-dims {
	width: 512px;
	height: 512px;
}

