<form class="calculator-form" action="#">
    <div class="calculator" id="{{ term.slug }}" data-loan-id="{{ term.id }}">
        <div class="input-box">
            <label for="weight">{{ jewelry_weight_text }}</label>
            <input id="weight" type="text"  maxlength="8" placeholder="{{ specify_weight_text }}"/>
        </div>
    </div>
</form>