<div class="reception-tabs tab tab-horiz">
    <ul class="tab-legend">
        <li class="active button60">{{ lang.calculate_text }}</li>
        <li class="button60">{{ lang.near_department }}</li>
    </ul>
    <ul class="tab-content">
        <li>
            {{ calculator_form_1 }}
        </li>
        <li>
            {{ reception_map }}
        </li>
    </ul>
</div>