<div>
    <label for="sample_count">{{ lang.metal_sample_count_text }}</label>
    <input type="number" min="0" max="100"
           value="{{ sample_count }}"
           data-rows="{{ count_discounts }}"
           data-id="{{ loan_id }}"
           name="sample_count"
           id="sample_count"
    />
</div>
<div id="loan_table">

</div>