<div>
    <label for="time_periods_count">{{ lang.time_periods_count_text }}</label>
    <input type="number" min="0" max="100"
           value="{{ time_periods_count }}"
           data-id="{{ tariff_id }}"
           name="time_periods_count"
           id="time_periods_count"
    />
</div>
<div id="tariff_table">

</div>