{
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-multiple-empty-lines": ["error", {
      "max": 1,
      "maxEOF": 0,
      "maxBOF": 0
    }],
    "no-undef": "off",
    "no-unused-vars": "off"
  }
}